Repository Nasser-Eddin-Nasser/Digitact, pull requests merged in 2020-07, with the labels that each got.

#91 64-check-steps
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.scss
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/src/theme/custom.scss
  frontend/src/theme/variables.scss
Labels: Frontend, Need Review

#96 Hr-Monitor Refactoring and improve preformance
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Main/Configuration.java
  HR-Monitor/src/Storage/DBStorage.java
Labels: Backend, Hr-Monitor, Need Review

#100 HR applicant status and key components
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Model/Status.java
  Backend/src/main/java/Digitact/Backend/Model/StatusUI.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IStatusRepository.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Model/Status.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Style/stylesheet.css
  HR-Monitor/src/View/applicantInfo.fxml
Labels: Backend, Hr-Monitor, Need Review

#101 75 profile picture
  HR-Monitor/src/Controller/ApplicantInfoController.java
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/steps/profile-picture/profile-picture.component.html
  frontend/src/app/forms/steps/profile-picture/profile-picture.component.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Backend, Frontend, Need Review

#99 Applicant status in BE and HR
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Model/HRCommentHolder.java
  Backend/src/main/java/Digitact/Backend/Model/StatusHolder.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IHRInfoRepository.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Style/stylesheet.css
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/src/View/standard.fxml
  HR-Monitor/src/View/storageView.fxml
Labels: Backend, Done, Hr-Monitor, Need Review

#103 US 73: HTTP / HTTPS code refactoring
  Backend/src/main/resources/application.properties
  Backend/src/main/resources/keystore.p12
  frontend/src/app/applicants/applicants.page.html
  frontend/src/app/applicants/applicants.page.scss
  frontend/src/app/applicants/applicants.page.ts
  frontend/src/app/applicants/applications-upload/applications-upload.page.html
  frontend/src/app/applicants/applications-upload/applications-upload.page.scss
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/steps/education-info/education-info.component.html
  frontend/src/app/forms/steps/education-info/education-info.module.ts
  frontend/src/app/forms/steps/education-info/pipes/get-i18n-string-for-degree.pipe.ts
  frontend/src/app/forms/steps/work-experience/pipes/get-i18n-string-for-employment-type.pipe.ts
  frontend/src/app/forms/steps/work-experience/work-experience.component.html
  frontend/src/app/forms/steps/work-experience/work-experience.module.ts
  frontend/src/app/model/create-applicant-data.model.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Backend, Frontend, Need Review

#105 Hot fix
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
Labels: Hot-Fix, Hr-Monitor, Need Review

#106 I18N strings modified
  frontend/src/assets/i18n/de.json
Labels: Frontend, Need Review

#109 HRM German version
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
  HR-Monitor/src/Controller/CreateAccountController.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/Language.java
  HR-Monitor/src/Model/MenuItem.java
  HR-Monitor/src/Style/English.gif
  HR-Monitor/src/Style/German.gif
  HR-Monitor/src/Util/Dictionary/ACDictionary.java
  HR-Monitor/src/Util/Dictionary/ApplicantInfoDictionary.java
  HR-Monitor/src/Util/Dictionary/BasicInfoDictionary.java
  HR-Monitor/src/Util/Dictionary/DegreeAndEmploymentTypeDictionary.java
  HR-Monitor/src/Util/Dictionary/IDictionary.java
  HR-Monitor/src/Util/Dictionary/KeyCompetenciesDictionary.java
  HR-Monitor/src/Util/Dictionary/MenuDictionary.java
  HR-Monitor/src/Util/Dictionary/PositionsAndIndustriesDictionary.java
  HR-Monitor/src/View/adminAccount.fxml
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/src/View/login.fxml
  HR-Monitor/src/View/storageView.fxml
Labels: Hr-Monitor, Need Review

#115 Profile picture page fixes
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/steps/profile-picture/profile-picture.component.html
  frontend/src/app/forms/steps/profile-picture/profile-picture.component.ts
Labels: Frontend, Need Review

#113 Filtering of Applicants in HRM
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Model/Status.java
  HR-Monitor/src/Util/Dictionary/ApplicantInfoDictionary.java
  HR-Monitor/src/Util/Dictionary/IDictionary.java
  HR-Monitor/src/Util/Dictionary/MenuDictionary.java
  HR-Monitor/src/Util/Dictionary/PositionsAndIndustriesDictionary.java
  HR-Monitor/src/View/standard.fxml
  HR-Monitor/src/View/storageView.fxml
Labels: Done, Hr-Monitor, Need Review

#116 Api protection
  Backend/build.gradle
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Model/DeviceIdentifier.java
  Backend/src/main/java/Digitact/Backend/Model/User/Admin.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IDataRepository.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/Util/PasswordTools.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  Backend/src/main/resources/application.properties
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/login/login-routing.module.ts
  frontend/src/app/login/login.module.ts
  frontend/src/app/login/login.page.html
  frontend/src/app/login/login.page.scss
  frontend/src/app/login/login.page.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Backend, Frontend, Need Review

#117 Quick fix for HR-Monitor bugs
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Util/Dictionary/ApplicantInfoDictionary.java
  HR-Monitor/src/View/storageView.fxml
Labels: Hot-Fix, Hr-Monitor

#121 Enhance the feature documentation
  README.md
  docs/features-frontend.md
  docs/features.md
  docs/images/form--contact-information--empty.png
  docs/images/form--education-information--2-entries.png
  docs/images/form--education-information--empty.png
  docs/images/form--education-information-modal--empty.png
  docs/images/form--industries-and-positions--empty.png
  docs/images/form--industries-and-positions-select-menu.png
  docs/images/form--side-menu.png
  docs/images/form--submit--disabled.png
  docs/images/form--submit--enabled.png
  docs/images/form--welcome--empty.png
  docs/images/form--welcome--filled.png
  docs/images/frontend/applicant-rating--finalize--disabled.png
  docs/images/frontend/applicant-rating--finalize--enabled.png
  docs/images/frontend/applicant-rating--finalize-alert.png
  docs/images/frontend/applicant-rating--first-screen.png
  docs/images/frontend/applicant-rating--impression.png
  docs/images/frontend/applicant-rating--score.png
  docs/images/frontend/applicant-rating--side-menu.png
  docs/images/frontend/applications-upload--in-progress.png
  docs/images/frontend/applications.png
  docs/images/frontend/form--additional-information--empty.png
  docs/images/frontend/form--contact-information--empty.png
  docs/images/frontend/form--documents--empty.png
  docs/images/frontend/form--done.png
  docs/images/frontend/form--education-information--2-entries.png
  docs/images/frontend/form--education-information--empty.png
  docs/images/frontend/form--education-information-modal--empty.png
  docs/images/frontend/form--industries-and-positions--empty.png
  docs/images/frontend/form--industries-and-positions-select-menu.png
  docs/images/frontend/form--key-competencies--filled.png
  docs/images/frontend/form--key-competencies-modal--rate.png
  docs/images/frontend/form--key-competencies-modal--search.png
  docs/images/frontend/form--profile-picture--empty.png
  docs/images/frontend/form--side-menu.png
  docs/images/frontend/form--submit--disabled.png
  docs/images/frontend/form--submit--enabled.png
  docs/images/frontend/form--welcome--empty.png
  docs/images/frontend/form--welcome--filled.png
  docs/images/frontend/form--work-experience--2-entries.png
  docs/images/frontend/form--work-experience--empty.png
  docs/images/frontend/form--work-experience-modal--empty.png
  docs/images/frontend/landing-page--languages.png
  docs/images/frontend/landing-page.png
  docs/images/frontend/login.png
  docs/images/frontend/logo.png
  docs/images/frontend/platforms--key-competencies--android--phone--dark-mode.png
  docs/images/frontend/platforms--key-competencies--android--phone.png
  docs/images/frontend/platforms--key-competencies--android--tablet--dark-mode.png
  docs/images/frontend/platforms--key-competencies--android--tablet.png
  docs/images/frontend/platforms--key-competencies--ios--phone--dark-mode.png
  docs/images/frontend/platforms--key-competencies--ios--phone.png
  docs/images/frontend/platforms--key-competencies--ios--tablet--dark-mode.png
  docs/images/frontend/platforms--key-competencies--ios--tablet.png
  docs/images/frontend/privacy-policy-prompt.png
  docs/images/landing-page.png
Labels: Need Review, documentation

#122 81 skip button update
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Frontend, Need Review

#123 Review
  Backend/README.md
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Model/Image/AppImage.java
  Backend/src/main/java/Digitact/Backend/Model/User/Admin.java
  Backend/src/main/java/Digitact/Backend/Model/User/AdminUI.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/Util/ImageTools.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  Backend/src/main/resources/application.properties
  Backend/src/main/resources/myCertificate.crt
  Backend/src/test/java/Digitact/Backend/ApplicationTests.java
  Backend/src/test/java/Digitact/Backend/Util/ImageToolsTest.java
  HR-Monitor/README.md
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/ApplicantInfoController.java
  HR-Monitor/src/Controller/CreateAccountController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Main/Configuration.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Util/Dictionary/ACDictionary.java
  HR-Monitor/src/Util/Dictionary/ApplicantInfoDictionary.java
  HR-Monitor/src/Util/Dictionary/DegreeAndEmploymentTypeDictionary.java
  HR-Monitor/src/Util/Dictionary/MenuDictionary.java
  HR-Monitor/src/Util/Dictionary/PositionsAndIndustriesDictionary.java
  HR-Monitor/src/View/adminAccount.fxml
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/src/View/standard.fxml
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/login/login.page.ts
Labels: Backend, Hr-Monitor, Need Review

#120 US 85 HTTPs in HR Monitor and US 86 change notification
  Backend/README.md
  Backend/src/main/resources/myCertificate.crt
  HR-Monitor/README.md
Labels: Backend, Done, Need Review

#125 Diagrams for the BES and HRM
  docs/Backend server/DB/Schema.png
  docs/Backend server/Diagrams/DB-Schema.png
  docs/Backend server/Diagrams/class diagram-final.gif
  docs/Backend server/Diagrams/class diagram.ucls
  docs/HR monitor/Diagrams/Class diagram HR.final.gif
  docs/HR monitor/Diagrams/Class diagram HR.ucls
  docs/HR monitor/Diagrams/HR Monitor design.pdf
  docs/HR monitor/Diagrams/HR monitor design v2.pdf
  docs/HR monitor/Diagrams/HR-Monitor-JSON.png
  docs/HR monitor/Diagrams/HR-Monitor-URI.png
Labels: Backend, Hr-Monitor, Need Review, documentation

#124 US 51 : App UI Review
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/steps/work-experience/work-experience-entry/work-experience-entry.component.html
  frontend/src/app/privacy/details/details.page.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/src/theme/custom.scss
Labels: Frontend, Need Review

#126 Remove unnecessary image
  docs/images/frontend/applicant-rating--first-screen.png
Labels: Need Review, documentation

#118 Feature Documentation: HR-Monitor
  Backend/README.md
  HR-Monitor/README.md
  docs/features-hr-monitor.md
  docs/images/Digitact-architecture.png
  docs/images/backend/DB-Schema.png
  docs/images/backend/class diagram.gif
  docs/images/backend/class diagram.png
  docs/images/backend/class diagram.ucls
  docs/images/hr-monitor/Class diagram HR.gif
  docs/images/hr-monitor/Class diagram HR.png
  docs/images/hr-monitor/Class diagram HR.ucls
  docs/images/hr-monitor/HR Monitor design.pdf
  docs/images/hr-monitor/HR monitor design v2.pdf
  docs/images/hr-monitor/HR-Monitor-JSON.png
  docs/images/hr-monitor/HR-Monitor-URI.png
  docs/images/hr-monitor/HRM-Applicant-DocumentsTab.png
  docs/images/hr-monitor/HRM-Applicant-InfoTab.png
  docs/images/hr-monitor/HRM-Applicant-Ratings.png
  docs/images/hr-monitor/HRM-Create_Account.png
  docs/images/hr-monitor/HRM-Login.png
  docs/images/hr-monitor/HRM-Overview.png
Labels: Backend, Done, Hr-Monitor, Need Review, documentation

#127 Frontend screen shots updated with recent changes
  docs/images/frontend/applicant-rating--finalize--disabled.png
  docs/images/frontend/applicant-rating--finalize--enabled.png
  docs/images/frontend/applicant-rating--finalize-alert.png
  docs/images/frontend/applicant-rating--impression.png
  docs/images/frontend/applicant-rating--score.png
  docs/images/frontend/applicant-rating--side-menu.png
  docs/images/frontend/applications.png
  docs/images/frontend/form--additional-information--empty.png
  docs/images/frontend/form--contact-information--empty.png
  docs/images/frontend/form--documents--empty.png
  docs/images/frontend/form--done.png
  docs/images/frontend/form--education-information--2-entries.png
  docs/images/frontend/form--education-information--empty.png
  docs/images/frontend/form--industries-and-positions--empty.png
  docs/images/frontend/form--industries-and-positions-select-menu.png
  docs/images/frontend/form--key-competencies--filled.png
  docs/images/frontend/form--key-competencies-modal--rate.png
  docs/images/frontend/form--key-competencies-modal--search.png
  docs/images/frontend/form--profile-picture--empty.png
  docs/images/frontend/form--side-menu.png
  docs/images/frontend/form--submit--disabled.png
  docs/images/frontend/form--submit--enabled.png
  docs/images/frontend/form--welcome--empty.png
  docs/images/frontend/form--welcome--filled.png
  docs/images/frontend/platforms--key-competencies--android--phone--dark-mode.png
  docs/images/frontend/platforms--key-competencies--android--phone.png
  docs/images/frontend/platforms--key-competencies--android--tablet--dark-mode.png
  docs/images/frontend/platforms--key-competencies--android--tablet.png
  docs/images/frontend/platforms--key-competencies--ios--phone--dark-mode.png
  docs/images/frontend/platforms--key-competencies--ios--phone.png
  docs/images/frontend/platforms--key-competencies--ios--tablet--dark-mode.png
  docs/images/frontend/platforms--key-competencies--ios--tablet.png
  docs/images/frontend/privacy-policy-prompt.png
Labels: Frontend, Need Review

#128 Image Cleanup
  HR-Monitor/src/Controller/StandardController.java
  docs/class diagrams and schemas/class-diagram-backend-server.gif
  docs/class diagrams and schemas/class-diagram-hr-monitor.gif
  docs/class diagrams and schemas/schema-database.png
Labels: Done, Hot-Fix, documentation

#130 Comments in Config files
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  HR-Monitor/src/Main/Configuration.java
Labels: Backend, Need Review

#129 Update work experience Screenshots
  docs/images/frontend/form--work-experience--2-entries.png
  docs/images/frontend/form--work-experience--empty.png
Labels: Frontend, Need Review
