Repository Nasser-Eddin-Nasser/Digitact, pull requests merged in 2020-06, with the labels that each got.

#46 Improve reactive forms
  frontend/src/app/common/forms/forms.ts
Labels: Frontend

#47 Build the frontend using GitHub Actions
  .github/workflows/frontend--lint-and-build.yml
Labels: Frontend

#45 Relevant industry and position
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/field-designation-page/field-designation-page.component.html
  frontend/src/app/forms/steps/field-designation-page/field-designation-page.component.scss
  frontend/src/app/forms/steps/field-designation-page/field-designation-page.component.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/theme/custom.scss
Labels: Frontend, Need Review

#48 Education Information page
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.html
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.scss
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.ts
  frontend/src/app/forms/steps/education-info/education-info.component.html
  frontend/src/app/forms/steps/education-info/education-info.component.scss
  frontend/src/app/forms/steps/education-info/education-info.component.ts
  frontend/src/app/model/forms-data.model.ts
Labels: Frontend, Need Review

#53 Key Competencies: Backend
  Backend/README.md
  Backend/README.pdf
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Model/KeyCompetence.java
  Backend/src/main/java/Digitact/Backend/Model/KeyCompetenciesCategory.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Model/User/ApplicantUI.java
  frontend/src/app/common/forms/forms.ts
  frontend/src/app/common/ion-wrappers/alert-controller.ts
  frontend/src/app/common/ion-wrappers/info.txt
  frontend/src/app/common/ion-wrappers/loading-controller.ts
  frontend/src/app/common/ion-wrappers/services/content-security.service.ts
  frontend/src/app/common/ion-wrappers/toast-controller.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies-form-items.service.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.scss
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.module.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/range-to.pipe.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/theme/custom.scss
  frontend/tslint.json
Labels: Backend, Doing

#52 Implement Key Competencies step
  frontend/src/app/common/forms/forms.ts
  frontend/src/app/common/ion-wrappers/alert-controller.ts
  frontend/src/app/common/ion-wrappers/info.txt
  frontend/src/app/common/ion-wrappers/loading-controller.ts
  frontend/src/app/common/ion-wrappers/services/content-security.service.ts
  frontend/src/app/common/ion-wrappers/toast-controller.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies-form-items.service.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.scss
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.module.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/range-to.pipe.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.scss
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/stars.component.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/theme/custom.scss
  frontend/tslint.json
Labels: Frontend, Need Review

#55 Finalization of Applications
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/applicants/applicants-routing.module.ts
  frontend/src/app/applicants/applicants.module.ts
  frontend/src/app/applicants/applicants.page.html
  frontend/src/app/applicants/applicants.page.scss
  frontend/src/app/applicants/applicants.page.ts
  frontend/src/app/forms/confirmation/confirmation.page.ts
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/home/home.page.html
  frontend/src/app/home/home.page.scss
  frontend/src/app/home/home.page.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.html
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.ts
  frontend/src/app/rating/model/rating-form.model.ts
  frontend/src/app/rating/model/steps.model.ts
  frontend/src/app/rating/rating.module.ts
  frontend/src/app/rating/rating.page.html
  frontend/src/app/rating/rating.page.scss
  frontend/src/app/rating/rating.page.ts
  frontend/src/app/rating/steps/finalize-page/finalize-page.component.html
  frontend/src/app/rating/steps/finalize-page/finalize-page.component.scss
  frontend/src/app/rating/steps/finalize-page/finalize-page.component.ts
  frontend/src/app/rating/steps/impression-page/impression-page.component.html
  frontend/src/app/rating/steps/impression-page/impression-page.component.scss
  frontend/src/app/rating/steps/impression-page/impression-page.component.ts
  frontend/src/app/services/storage-handler.service.ts
  frontend/src/theme/custom.scss
Labels: Done, Frontend

#57 Hr monitor table & Rest API
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  HR-Monitor/Appliction.java
  HR-Monitor/lib/jackson-annotations-2.11.0.jar
  HR-Monitor/lib/jackson-core-2.11.0.jar
  HR-Monitor/lib/jackson-databind-2.11.0.jar
  HR-Monitor/lib/javafx-swt.jar
  HR-Monitor/lib/javafx.base.jar
  HR-Monitor/lib/javafx.controls.jar
  HR-Monitor/lib/javafx.fxml.jar
  HR-Monitor/lib/javafx.media.jar
  HR-Monitor/lib/javafx.properties
  HR-Monitor/lib/javafx.swing.jar
  HR-Monitor/lib/javafx.web.jar
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/StorageController.java
  HR-Monitor/src/Database/Configuration.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/AcModel.java
  HR-Monitor/src/Model/Degree.java
  HR-Monitor/src/Model/Education.java
  HR-Monitor/src/Model/Industries.java
  HR-Monitor/src/Model/KeyCompetence.java
  HR-Monitor/src/Model/KeyCompetenciesCategory.java
  HR-Monitor/src/Model/MVC/AcModel.java
  HR-Monitor/src/Model/MVC/StorageModel.java
  HR-Monitor/src/Model/Positions.java
  HR-Monitor/src/Model/StorageModel.java
  HR-Monitor/src/Model/User/Admin.java
  HR-Monitor/src/Model/User/Applicant.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Model/User/IUser.java
  HR-Monitor/src/Model/User/User.java
  HR-Monitor/src/Storage/DBStorage.java
  HR-Monitor/src/Storage/Dummy.java
  HR-Monitor/src/Util/JSONTools.java
  HR-Monitor/src/Util/Util.java
  HR-Monitor/src/View/eduInfoView.fxml
  HR-Monitor/src/View/storageView.fxml
Labels: Backend, Done

#66 Fix key competencies modal
  frontend/src/app/forms/steps/key-competencies/key-competencies.module.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/pipes/trim.pipe.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/stars/pipes/range-to.pipe.ts
Labels: Frontend

#67 Remove double sidemenu entry
  frontend/src/app/forms/side-menu/side-menu.component.html
Labels: Frontend

#65 DB schema and Picture Function
  Backend/ClassDiagram.ucls
  Backend/src/main/java/Digitact/Backend/Application.java
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Exception/ImageException.java
  Backend/src/main/java/Digitact/Backend/Model/Degree.java
  Backend/src/main/java/Digitact/Backend/Model/Image/AppImage.java
  Backend/src/main/java/Digitact/Backend/Model/Image/Block.java
  Backend/src/main/java/Digitact/Backend/Model/Image/ImageString.java
  Backend/src/main/java/Digitact/Backend/Model/Image/ImageType.java
  Backend/src/main/java/Digitact/Backend/Model/Industries.java
  Backend/src/main/java/Digitact/Backend/Model/KeyCompetenciesCategory.java
  Backend/src/main/java/Digitact/Backend/Model/Positions.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Model/User/ApplicantUI.java
  Backend/src/main/java/Digitact/Backend/Model/User/Title.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IImageRepository.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/Util/ImageTools.java
  Backend/src/main/resources/application.properties
  HR-Monitor/src/Controller/StorageController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Storage/DBStorage.java
  HR-Monitor/src/Storage/Dummy.java
  HR-Monitor/src/Util/JSONTools.java
  docs/Backend server/Diagrams/class diagram.gif
Labels: Backend, Need Review

#69 Document Selection
  frontend/src/app/forms/forms-routing.module.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/image-viewer/image-viewer-routing.module.ts
  frontend/src/app/forms/image-viewer/image-viewer.module.ts
  frontend/src/app/forms/image-viewer/image-viewer.service.ts
  frontend/src/app/forms/image-viewer/internal/image-viewer.component.html
  frontend/src/app/forms/image-viewer/internal/image-viewer.component.scss
  frontend/src/app/forms/image-viewer/internal/image-viewer.component.ts
  frontend/src/app/forms/image-viewer/model/image-viewer-settings.model.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/documents/documents.component.html
  frontend/src/app/forms/steps/documents/documents.component.scss
  frontend/src/app/forms/steps/documents/documents.component.ts
  frontend/src/app/forms/steps/documents/documents.module.ts
  frontend/src/app/model/forms-data.model.ts
Labels: Frontend, Need Review

#71 Exit warning when leaving form pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/forms/auth-guard.ts
  frontend/src/app/forms/forms-routing.module.ts
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/image-viewer/image-viewer.service.ts
  frontend/src/app/forms/router-constants.ts
Labels: Frontend, Need Review

#70 Privacy policy page added
  frontend/src/app/app-routing.module.ts
  frontend/src/app/applicants/applicants.page.html
  frontend/src/app/applicants/applicants.page.scss
  frontend/src/app/home/home.page.ts
  frontend/src/app/privacy/details/details-routing.module.ts
  frontend/src/app/privacy/details/details.module.ts
  frontend/src/app/privacy/details/details.page.html
  frontend/src/app/privacy/details/details.page.scss
  frontend/src/app/privacy/details/details.page.ts
  frontend/src/app/privacy/privacy-routing.module.ts
  frontend/src/app/privacy/privacy.module.ts
  frontend/src/app/privacy/privacy.page.html
  frontend/src/app/privacy/privacy.page.scss
  frontend/src/app/privacy/privacy.page.ts
  frontend/src/app/rating/rating.page.ts
Labels: Frontend, Need Review

#72 Client Server Integration
  .github/workflows/backend-gradle.yml
  .gitignore
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Model/Degree.java
  Backend/src/main/java/Digitact/Backend/Model/Education.java
  Backend/src/main/java/Digitact/Backend/Model/Industries.java
  Backend/src/main/java/Digitact/Backend/Model/Positions.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/applicants/applicants.page.ts
  frontend/src/app/applications-upload/applications-upload-routing.module.ts
  frontend/src/app/applications-upload/applications-upload.module.ts
  frontend/src/app/applications-upload/applications-upload.page.html
  frontend/src/app/applications-upload/applications-upload.page.scss
  frontend/src/app/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/steps/basic-info/basic-info.component.ts
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.ts
  frontend/src/app/rating/rating.page.ts
Labels: Backend, Frontend, Need Review

#68 Hr monitor applicant info view
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  HR-Monitor/.gitignore
  HR-Monitor/lib/jaxb-api-2.2.3.jar
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/StorageController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Main/Configuration.java
  HR-Monitor/src/Model/Degree.java
  HR-Monitor/src/Model/Education.java
  HR-Monitor/src/Model/Image/AppImage.java
  HR-Monitor/src/Model/Image/ImageType.java
  HR-Monitor/src/Model/Industries.java
  HR-Monitor/src/Model/KeyCompetenciesCategory.java
  HR-Monitor/src/Model/Positions.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Model/User/Title.java
  HR-Monitor/src/Model/User/UserRight.java
  HR-Monitor/src/Storage/DBStorage.java
  HR-Monitor/src/Util/ImageTools.java
  HR-Monitor/src/Util/JSONTools.java
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/src/View/storageView.fxml
  docs/Backend server/Diagrams/DB-Schema-2.png
  docs/Backend server/Diagrams/DB-Schema.png
Labels: Backend, Need Review

#77 Create Admin Account
  Backend/.gitignore
  Backend/bootrun.bat
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Model/.DS_Store
  Backend/src/main/java/Digitact/Backend/Model/Image/AppImage.java
  Backend/src/main/java/Digitact/Backend/Model/User/Admin.java
  Backend/src/main/java/Digitact/Backend/Model/User/AdminUI.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IDataRepository.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  Backend/~$README.md
  HR-Monitor/hr-monitor.properties
  HR-Monitor/hr-monitor.xml
  HR-Monitor/module_hr-monitor.xml
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/CreateAccountController.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/MVC/AcModel.java
  HR-Monitor/src/Model/MVC/OverviewModel.java
  HR-Monitor/src/Model/User/Admin.java
  HR-Monitor/src/Storage/DBStorage.java
  HR-Monitor/src/Util/JSONTools.java
  HR-Monitor/src/Util/PasswordTools.java
  HR-Monitor/src/View/adminAccount.fxml
  HR-Monitor/src/View/eduInfoView.fxml
  HR-Monitor/src/View/login.fxml
Labels: Backend, Need Review

#78 Additional Info and HR-Monitor GUI upgrade
  Backend/README.md
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Model/Education.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Model/User/ApplicantUI.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/Education.java
  HR-Monitor/src/Model/Industries.java
  HR-Monitor/src/Model/MVC/AcModel.java
  HR-Monitor/src/Model/Positions.java
  HR-Monitor/src/Model/User/Admin.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Util/PasswordTools.java
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/xxxprofilePice59b6979-e391-446d-951d-877c1c69b691.jpeg
  frontend/src/app/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/additional-info/additional-info.component.html
  frontend/src/app/forms/steps/additional-info/additional-info.component.scss
  frontend/src/app/forms/steps/additional-info/additional-info.component.ts
  frontend/src/app/model/forms-data.model.ts
Labels: Backend, Done, Need Review

#81 Internationalisation in English and German languages supported
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/applicants/applicants.module.ts
  frontend/src/app/applicants/applicants.page.html
  frontend/src/app/applications-upload/applications-upload.module.ts
  frontend/src/app/applications-upload/applications-upload.page.html
  frontend/src/app/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/confirmation/confirmation.module.ts
  frontend/src/app/forms/confirmation/confirmation.page.html
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/image-viewer/image-viewer.module.ts
  frontend/src/app/forms/image-viewer/internal/image-viewer.component.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/side-menu/side-menu.component.ts
  frontend/src/app/forms/steps/additional-info/additional-info.component.html
  frontend/src/app/forms/steps/basic-info/basic-info.component.html
  frontend/src/app/forms/steps/basic-info/basic-info.component.ts
  frontend/src/app/forms/steps/contact-info/contact-info.component.html
  frontend/src/app/forms/steps/documents/documents.component.html
  frontend/src/app/forms/steps/documents/documents.module.ts
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.html
  frontend/src/app/forms/steps/education-info-entry/education-info-entry.component.ts
  frontend/src/app/forms/steps/education-info/education-info.component.html
  frontend/src/app/forms/steps/field-designation-page/field-designation-page.component.html
  frontend/src/app/forms/steps/field-designation-page/field-designation-page.component.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.module.ts
  frontend/src/app/forms/steps/key-competencies/rating-modal/item-popover/item-popover.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.html
  frontend/src/app/forms/steps/key-competencies/rating-modal/rating-modal.component.ts
  frontend/src/app/forms/steps/profile-picture/profile-picture.component.html
  frontend/src/app/forms/steps/submit-page/submit-page.component.html
  frontend/src/app/home/home.module.ts
  frontend/src/app/home/home.page.html
  frontend/src/app/home/home.page.scss
  frontend/src/app/home/home.page.ts
  frontend/src/app/home/language-picker/language-picker.component.html
  frontend/src/app/home/language-picker/language-picker.component.scss
  frontend/src/app/home/language-picker/language-picker.component.ts
  frontend/src/app/privacy/details/details.module.ts
  frontend/src/app/privacy/details/details.page.html
  frontend/src/app/privacy/privacy.module.ts
  frontend/src/app/privacy/privacy.page.html
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.html
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.ts
  frontend/src/app/rating/rating.module.ts
  frontend/src/app/rating/rating.page.html
  frontend/src/app/rating/rating.page.ts
  frontend/src/app/rating/steps/applicant-score/applicant-score.component.html
  frontend/src/app/rating/steps/finalize-page/finalize-page.component.html
  frontend/src/app/rating/steps/impression-page/impression-page.component.html
  frontend/src/app/services/storage-handler.service.ts
  frontend/src/app/shared.module.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Frontend, Need Review

#82 Language header added in language picker
  frontend/src/app/home/language-picker/language-picker.component.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Frontend, Need Review

#83 Small frontend improvements
  frontend/src/app/applicants/applicants.page.html
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/steps/education-info/education-info-entry/education-info-entry.component.html
  frontend/src/app/forms/steps/education-info/education-info-entry/education-info-entry.component.scss
  frontend/src/app/forms/steps/education-info/education-info-entry/education-info-entry.component.ts
  frontend/src/app/forms/steps/education-info/education-info.component.html
  frontend/src/app/forms/steps/education-info/education-info.component.scss
  frontend/src/app/forms/steps/education-info/education-info.component.ts
  frontend/src/app/forms/steps/education-info/education-info.module.ts
  frontend/src/app/home/home.page.scss
  frontend/src/app/home/home.page.ts
  frontend/src/app/rating/rating.page.html
Labels: Frontend

#85 Improve forms types
  frontend/src/app/applications-upload/applications-upload.page.ts
  frontend/src/app/common/forms/forms.ts
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.ts
  frontend/src/app/rating/model/steps.model.ts
  frontend/src/app/rating/rating.page.ts
  frontend/src/app/services/storage-handler.service.ts
Labels: Frontend

#86 Add Business Skills to Key Competencies, add various improvements
  Backend/README.md
  Backend/README.pdf
  Backend/src/main/java/Digitact/Backend/Model/KeyCompetenciesCategory.java
  Backend/src/main/java/Digitact/Backend/apiConfig.java
  Backend/~$README.md
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies-form-items.service.ts
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.html
  frontend/src/app/forms/steps/key-competencies/key-competencies.component.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/app/rating/steps/applicant-score/applicant-score.component.html
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Backend, Frontend, Need Review

#87 App Icon and SplashScreen image
  frontend/.gitignore
  frontend/README.md
  frontend/README.pdf
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  frontend/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  frontend/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  frontend/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  frontend/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  frontend/resources/icon.png
  frontend/resources/splash.png
  frontend/src/app/home/home.page.scss
Labels: Frontend, Need Review

#80 Backend Basic Tests
  Backend/src/main/java/Digitact/Backend/ConfigProperties.java
  Backend/src/main/java/Digitact/Backend/Controller/ClientController.java
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Util/ImageTools.java
  Backend/src/test/java/Digitact/Backend/ApplicationTests.java
  Backend/src/test/java/Digitact/Backend/Controller/ClientControllerTest.java
  Backend/src/test/java/Digitact/Backend/Model/EducationTest.java
  Backend/src/test/java/Digitact/Backend/Model/KeyCompetenceTest.java
  Backend/src/test/java/Digitact/Backend/Model/User/AdminTest.java
  Backend/src/test/java/Digitact/Backend/Model/User/ApplicantTest.java
  Backend/src/test/java/Digitact/Backend/Util/ImageContentString.java
  Backend/src/test/java/Digitact/Backend/Util/ImageToolsTest.java
  HR-Monitor/src/Main/Configuration.java
  HR-Monitor/xxxprofilePic3e04e530-1812-4783-ad5b-b87fa33b6bae.jpeg
Labels: Backend, Doing

#89 Work Experience and enhancements
  Backend/src/main/java/Digitact/Backend/Controller/HRController.java
  Backend/src/main/java/Digitact/Backend/Model/EmploymentType.java
  Backend/src/main/java/Digitact/Backend/Model/HrRating.java
  Backend/src/main/java/Digitact/Backend/Model/User/Applicant.java
  Backend/src/main/java/Digitact/Backend/Model/User/ApplicantUI.java
  Backend/src/main/java/Digitact/Backend/Model/WorkExperience.java
  Backend/src/main/java/Digitact/Backend/Storage/DB/Query.java
  Backend/src/main/java/Digitact/Backend/Storage/IWorkExperienceRepository.java
  Backend/src/main/java/Digitact/Backend/Storage/Repository.java
  Backend/src/test/java/Digitact/Backend/Model/WorkExperienceTest.java
  HR-Monitor/src/Controller/OverviewController.java
  HR-Monitor/src/Database/Method.java
  HR-Monitor/src/Model/Education.java
  HR-Monitor/src/Model/EmploymentType.java
  HR-Monitor/src/Model/User/ApplicantUI.java
  HR-Monitor/src/Model/WorkExperience.java
  HR-Monitor/src/Storage/DBStorage.java
  HR-Monitor/src/Storage/Dummy.java
  HR-Monitor/src/Style/refresh.png
  HR-Monitor/src/Util/JSONTools.java
  HR-Monitor/src/View/applicantInfo.fxml
  HR-Monitor/src/View/storageView.fxml
  HR-Monitor/xxxprofilePice59b6979-e391-446d-951d-877c1c69b691.jpeg
  frontend/src/app/app-routing.module.ts
  frontend/src/app/applicants/applicants-routing.module.ts
  frontend/src/app/applicants/applicants.page.ts
  frontend/src/app/applicants/applications-upload/applications-upload-routing.module.ts
  frontend/src/app/applicants/applications-upload/applications-upload.module.ts
  frontend/src/app/applicants/applications-upload/applications-upload.page.html
  frontend/src/app/applicants/applications-upload/applications-upload.page.scss
  frontend/src/app/applicants/applications-upload/applications-upload.page.ts
  frontend/src/app/applications-upload/applications-upload.page.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/steps/education-info/education-info.component.ts
  frontend/src/app/forms/steps/work-experience/work-experience-entry/work-experience-entry.component.html
  frontend/src/app/forms/steps/work-experience/work-experience-entry/work-experience-entry.component.scss
  frontend/src/app/forms/steps/work-experience/work-experience-entry/work-experience-entry.component.ts
  frontend/src/app/forms/steps/work-experience/work-experience.component.html
  frontend/src/app/forms/steps/work-experience/work-experience.component.scss
  frontend/src/app/forms/steps/work-experience/work-experience.component.ts
  frontend/src/app/forms/steps/work-experience/work-experience.module.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: Backend, Frontend, Need Review

#92 US 67: SQLite support added inorder to prevent data loss
  frontend/ios/App/App/config.xml
  frontend/ios/App/Podfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/services/storage-handler.service.ts
Labels: Frontend, Need Review, enhancement
