Repository Nasser-Eddin-Nasser/Digitact, pull requests merged in 2020-05, with the labels that each got.

#14 Added 3 linter rules
  frontend/tslint.json
Labels: Frontend

#6 create initial backend and rest api function
  .github/pull_request_template/Feature.md
  .github/workflows/backend-gradle.yml
  Backend/.gitignore
  Backend/README.md
  Backend/bin/.gitignore
  Backend/build.gradle
  Backend/gradle/wrapper/gradle-wrapper.jar
  Backend/gradle/wrapper/gradle-wrapper.properties
  Backend/gradlew
  Backend/gradlew.bat
  Backend/settings.gradle
  Backend/src/main/java/Digitact/Backend/Application.java
  Backend/src/main/java/Digitact/Backend/Controller/Controller.java
  Backend/src/main/java/Digitact/Backend/Model/Admin.java
  Backend/src/main/java/Digitact/Backend/Model/Applicant.java
  Backend/src/main/java/Digitact/Backend/Model/IUser.java
  Backend/src/main/java/Digitact/Backend/Model/User.java
  Backend/src/main/java/Digitact/Backend/Model/UserRight.java
  Backend/src/main/java/Digitact/Backend/Model/UserUI.java
  Backend/src/main/java/Digitact/Backend/Storage/DataRepository.java
  Backend/src/main/resources/application.properties
  Backend/src/test/java/Digitact/Backend/ApplicationTests.java
  README.md
Labels: Backend, Need Review

#18 Add typesafe forms implementation
  frontend/src/app/common/forms/forms.ts
  frontend/src/app/home/home.page.html
  frontend/src/app/home/home.page.ts
  frontend/tslint.json
Labels: Frontend

#21 Add Roboto and a more simple logo
  frontend/src/app/home/home.page.html
  frontend/src/app/home/home.page.scss
  frontend/src/assets/fonts/roboto/Info.txt
  frontend/src/assets/fonts/roboto/License.txt
  frontend/src/assets/fonts/roboto/roboto-v20-latin-100.woff2
  frontend/src/assets/fonts/roboto/roboto-v20-latin-300.woff2
  frontend/src/assets/fonts/roboto/roboto-v20-latin-500.woff2
  frontend/src/assets/fonts/roboto/roboto-v20-latin-700.woff2
  frontend/src/assets/fonts/roboto/roboto-v20-latin-900.woff2
  frontend/src/assets/fonts/roboto/roboto-v20-latin-regular.woff2
  frontend/src/assets/logo/Consileon-Logo.svg
  frontend/src/global.scss
  frontend/src/theme/custom.scss
  frontend/src/theme/fonts.scss
  frontend/src/theme/variables.scss
Labels: Frontend

#22 Remove unnecessary module imports
  frontend/src/app/home/home.module.ts
Labels: Frontend

#25 Docker usage instruction is updated in readme file
  Backend/README.md
Labels: Backend

#20 add init HR monitor app and edit gitignore
  .gitignore
  HR-Monitor/.gitignore
  HR-Monitor/Appliction.java
  HR-Monitor/src/Controller/AcController.java
  HR-Monitor/src/Controller/StandardController.java
  HR-Monitor/src/Controller/StorageController.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/AcModel.java
  HR-Monitor/src/Model/StorageModel.java
  HR-Monitor/src/Model/User/Admin.java
  HR-Monitor/src/Model/User/Applicant.java
  HR-Monitor/src/Model/User/IUser.java
  HR-Monitor/src/Model/User/User.java
  HR-Monitor/src/Model/User/UserRight.java
  HR-Monitor/src/Storage/Dummy.java
  HR-Monitor/src/Style/Logo/Consileon-Logo.png
  HR-Monitor/src/Style/welcomescreen.png
  HR-Monitor/src/Util/NameArray.java
  HR-Monitor/src/Util/Util.java
  HR-Monitor/src/View/login.fxml
  HR-Monitor/src/View/standard.fxml
  HR-Monitor/src/View/storageView.fxml
Labels: Backend, Need Review

#34 UI issue fixes, comments and naming convention changes done.
  frontend/src/app/forms/forms-routing.module.ts
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.scss
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/side-menu/side-menu.component.ts
  frontend/src/app/forms/steps/basic-info/basic-info.component.html
  frontend/src/app/forms/steps/basic-info/basic-info.component.ts
  frontend/src/app/home/home.page.html
  frontend/src/app/home/home.page.ts
  frontend/src/app/interfaces/basic-info.ts
  frontend/src/theme/variables.scss
Labels: Frontend

#31 Use docker-compose for postgres
  Backend/README.md
  Backend/docker-compose.yml
  Backend/pgadmin4/servers.json
Labels: Backend

#30 Contact form - Frontend
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/steps/contact-info/contact-info.component.html
  frontend/src/app/forms/steps/contact-info/contact-info.component.scss
  frontend/src/app/forms/steps/contact-info/contact-info.component.ts
  frontend/src/app/interfaces/contact-info.ts
Labels: Frontend, Need Review

#35 Implement first Applicant Rating page
  frontend/src/app/app-routing.module.ts
  frontend/src/app/common/forms/forms.ts
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.html
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.scss
  frontend/src/app/rating/hr-side-menu/hr-side-menu.component.ts
  frontend/src/app/rating/model/rating-form.model.ts
  frontend/src/app/rating/rating-routing.module.ts
  frontend/src/app/rating/rating.module.ts
  frontend/src/app/rating/rating.page.html
  frontend/src/app/rating/rating.page.scss
  frontend/src/app/rating/rating.page.ts
  frontend/src/app/rating/steps/applicant-score/applicant-score.component.html
  frontend/src/app/rating/steps/applicant-score/applicant-score.component.scss
  frontend/src/app/rating/steps/applicant-score/applicant-score.component.ts
  frontend/src/global.scss
  frontend/src/theme/custom.scss
  frontend/src/theme/variables.scss
Labels: Frontend, Need Review

#33 Frontend submit
  frontend/src/app/forms/forms.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/steps/submit-page/submit-page.component.html
  frontend/src/app/forms/steps/submit-page/submit-page.component.scss
  frontend/src/app/forms/steps/submit-page/submit-page.component.ts
Labels: Frontend, Need Review

#36 database access for HR-Monitor
  HR-Monitor/.gitignore
  HR-Monitor/lib/postgresql-42.2.11.jre6.jar
  HR-Monitor/src/Database/Configuration.java
  HR-Monitor/src/Database/Connector.java
  HR-Monitor/src/Main/App.java
  HR-Monitor/src/Model/StorageModel.java
  HR-Monitor/src/Storage/DBStorage.java
Labels: Done

#32 Confirmation Page
  frontend/src/app/forms/confirmation/confirmation-routing.module.ts
  frontend/src/app/forms/confirmation/confirmation.module.ts
  frontend/src/app/forms/confirmation/confirmation.page.html
  frontend/src/app/forms/confirmation/confirmation.page.scss
  frontend/src/app/forms/confirmation/confirmation.page.ts
  frontend/src/app/forms/forms-routing.module.ts
  frontend/src/app/forms/forms.page.ts
Labels: Frontend, Need Review

#37 Basic CRUD operations handled for using ionic storage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/steps/basic-info/basic-info.component.ts
  frontend/src/app/forms/steps/contact-info/contact-info.component.ts
  frontend/src/app/interfaces/basic-info.ts
  frontend/src/app/interfaces/contact-info.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/app/services/storage-handler.service.ts
Labels: Frontend, Need Review

#40 Improve the overall look of the application
  frontend/src/app/forms/confirmation/confirmation.page.html
  frontend/src/app/forms/confirmation/confirmation.page.scss
  frontend/src/app/forms/confirmation/confirmation.page.ts
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.scss
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/side-menu/side-menu.component.scss
  frontend/src/app/forms/steps/basic-info/basic-info.component.html
  frontend/src/app/forms/steps/basic-info/basic-info.component.scss
  frontend/src/app/forms/steps/contact-info/contact-info.component.scss
  frontend/src/app/forms/steps/submit-page/submit-page.component.html
  frontend/src/app/home/home.page.scss
  frontend/src/theme/custom.scss
Labels: Frontend

#42 Use Validators
  frontend/src/app/forms/forms.page.html
  frontend/src/app/forms/forms.page.ts
  frontend/src/app/forms/model/steps.model.ts
  frontend/src/app/forms/side-menu/side-menu.component.html
  frontend/src/app/forms/side-menu/side-menu.component.ts
  frontend/src/app/forms/steps/basic-info/basic-info.component.html
  frontend/src/app/forms/steps/basic-info/basic-info.component.ts
  frontend/src/app/forms/steps/contact-info/contact-info.component.html
  frontend/src/app/forms/steps/contact-info/contact-info.component.ts
  frontend/src/app/forms/steps/submit-page/submit-page.component.html
  frontend/src/app/forms/steps/submit-page/submit-page.component.ts
  frontend/src/app/home/home.page.ts
  frontend/src/app/model/forms-data.model.ts
  frontend/src/theme/custom.scss
Labels: Frontend
